/*   Sitewide  */

div.c-wrapper{
    margin-top: 50px;
	margin-left: 500px;
	width: 80%;
    margin: auto;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
/* width: 100%; */
margin: auto;
}

.carousel {
	width:840px;
	height:560px;
  }

div.q-wrapper{
    margin-top: 50px;
	margin-left: 115px;
	width: 75%;

}

.navbar {
	background-color: #92cbf5;
	color: black;
	border-radius: 0px;
}

#goh-logo, #goh-logo:hover, .navbar-dark .navbar-brand {
	color: #0f3b07;
}

.navbar-nav>li>a, .navbar-dark .navbar-nav .nav-link {
	color: black;
}

section {
	margin-top: 50px;
}


/*  First row  */

#hero	{
	height: 400px;
}

#splash {
	margin-bottom: 25px;
	font-size: 18px;
}

/* Features Row */

.feature {
	text-align: center;
}

#modalLabel {
	color: black;
}
