html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

input::placeholder {
  color: #fff !important;
  font-style: italic;
}



body {
  background-image: url(/static/images/grass-hill-tree-bench.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

body.about {background-image: url(/static/images/tree-sunset.jpg);}

body.newuser {background-image: url(/static/images/tree-zoom.jpg);}

body.featured {background-image: url(/static/images/field-no-tree.jpg);}

.featured-header {
  margin-top: 25px;
  margin-bottom: 30px;
}

.featured-footer {
  margin-top: 45px;
  margin-left: 165px;
}

body.profile {
  background-image: 
  /* linear-gradient(black, black), */
  url(/static/images/winter-tree-bench.jpg);
  /* background-blend-mode: saturation;  */
  /* filter: hue-rotate(60deg) brightness(.9) contrast(1.1) saturate(1.1); */
}

body.user-favs {background-image: url(/static/images/hero_tree_lane.jpg);}

.navbar .navbar-expand-lg .navbar-light {
  background: transparent;
  border: none;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

.navbar .navbar-brand, .navbar .navbar-nav li a {
  color: #fff;
  font-family: 'Raleway', sans-serif;

}

.navbar-nav li a, .navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-family: 'Raleway', sans-serif;

}

.navbar .navbar-brand:hover, .navbar .navbar-nav li a:hover, .navbar-light .navbar-nav .nav-link:hover, .nav-link:hover {
  color: #ffd200 !important;
}

.tagline {
  margin-left: 600px;
  margin-right: 100px;
  text-align: center;
  position: fixed;
  bottom: 140px;
  font-family: sans-serif;
  font-weight: 280;
  font-size: 74px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

.left {
  margin-top: 100px;
}



.newuser-header {
  margin-top: 5px;
  margin-left: -250px;
  margin-right: 0;
}

.newuser-form {
  margin-top: 0;
  margin-left: -250px;
  margin-right: 0;
}

form {
  margin-top: 25px;
}

.login {
    color: #ffd200;
    border-color: #ffd200;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: #fff;
    text-align: center;
    position: fixed;
    /* bottom: 30px; */
    padding-bottom: 10px;
    margin-top: 75px;
    margin-left: 10px;
    margin-right: 600px;
}


.btn {
  margin: 10px;
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #fff;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.4s;
     -moz-transition: all 0.4s;
       -o-transition: all 0.4s;
          transition: all 0.4s;
}
.btn:hover {
  color: #fff;
  border-color: #ffd200;
  background: #dab200;
}


input[type="email"], input[type="password"] {
  width: 350px;
  padding: 10px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1.5px solid #cccccc;
  outline: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 50px;
}

input[type="text"] {
  width: 300px;
  padding: 5px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1.5px solid #cccccc;
  outline: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 15px;
}

span.max-distance {display: inline-block; width: 30px}

span.pet-friendly {display: inline-block; width: 87px}

span.family-friendly {display: inline-block; width: 65px}


select {
  padding: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  background: transparent;
  -webkit-appearance: none;

}
select option{
background-color: #dab200
}


input[type="submit"] {
  margin: 10px;
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #fff;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.4s;
     -moz-transition: all 0.4s;
       -o-transition: all 0.4s;
          transition: all 0.4s;
}

input[type="submit"]:hover {
  background: #dab200;
  border-color: #ffd200;
  animation-name: shake;
}

.mb-1 {
    color: #dab200;
    border-color: #ffd200;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 20px;
    padding-bottom: 10px;
    margin-top: 75px;
    margin-left: 10px;
    margin-right: 600px;  
}

.mb-0 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #fff;
}

.col-lg-5 {
    margin: 0;
    margin-top: 80px;
    margin-left: -250px;
    margin-right: 600px; 
    font-size: 18px;
    font-weight: 400;
}


.map-container-5{
  overflow:hidden;
  padding-bottom:65%;
  position:relative;
  height:0;
}

.map-container-5 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.blue-gradient {
  background: linear-gradient(40deg, #a2dbf0, #ffd200) !important; }

.card.card-cascade.narrower .view.view-cascade {
  margin-top: -1.25rem;
  margin-right: 4%;
  margin-left: 4%;
}

.card.card-cascade .view.view-cascade.gradient-card-header {
  padding: 1.6rem 1rem;
  color: #fff;
  text-align: center;
}

.card.card-cascade .view.view-cascade {
  border-radius: .25rem;
  -webkit-box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
  box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
}

.info {
  color:rgb(15, 30, 235);
  background-color: #ffd200;
}

.carousel {
  margin-top: 300px;
}
