{% extends 'base.html' %}

{% block title %}About GOH!{% endblock %}

{% block body %}
  <body class="about">
    <div class="row align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="static/images/beach_about.webp" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Let's GOH!</h1>
            <p>Getting out of the house (GOH!) has never been so important. Anything counts. Parks, playgrounds, beaches, 
                even a stroll around the block. 
                <br><br>
                Moving your body is the best thing you can do for yourself today, and
                the kindest thing you can do for your future self tomorrow. So, be adventurous! Try someplace new. Or, visit and revisit a favorite.
                <br><br>
                <b>The only rule is....GOH!</b></p>
            <a class="btn btn-primary" href="/newuser">Are you ready?</a>
        </div>
    </div>

  </body>
{% endblock %}