{% extends 'base.html' %}
{% block title %}All Parks{% endblock %}

{% block body %}
  <h1>All Parks</h1>

  <ul>
    {% for park in favorites %}
      <li>
        <a href="/favorites/{{ park.park_name }}">
          {{ park.park_name }}
        </a>
    </li>
         <b>{{ park.park_name }}</b>
        
        <br>Park # {{ park.park_API_id }}</br>
        {{ park.park_street_address }}
        {{ park.park_city }}, {{ park.park_state }} {{ park.park_zipcode }}
        <br></br>
    
    {% endfor %}



  </ul>
{% endblock %}
