{% extends 'base.html' %}
{% block title %}All Parks{% endblock %}

{% block body %}
  <h1>All Parks</h1>

  <ul>
    {% for park in favorites %}
      <li>
          
      </li>
         <b>{{ park.park_name }}</b>
        
        <br>Park # {{ park.park_API_id }}</br>
        {{ park.park_address }}
        <br></br>
       
        <iframe
        width="550"
        height="350"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key={{API_KEY}}&q=place_id:{{park.park_API_id}}&zoom=12&maptype=satellite" allowfullscreen>
        </iframe>

    {% endfor %}


    <li><a href="/">GOH! homepage</a></li>

  </ul>
{% endblock %}
