{% extends 'base.html' %}
{% block title %}All Parks{% endblock %}

{% block body %}
  <h1>All Parks</h1>

  <ul>
    {% for park in favorites %}
      <li>
        <a href="/favorites/{{ park.park_name }}">
          {{ park.park_name }}
        </a>
    </li>
         <b>{{ park.park_name }}</b>
        
        <br>Park # {{ park.park_API_id }}</br>
        {{ park.park_address }}
        <br></br>
    
    {% endfor %}


    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11288.132079138428!2d-93.14739525539707!3d44.98364034281073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b32b16bba766b5%3A0x2ec3ba19d6bb0976!2s
    Como%20Regional%20Park!5e0!3m2!1sen!2sus!4v1618663488848!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


    <li><a href="/">GOH! homepage</a></li>

  </ul>
{% endblock %}
