{% extends 'base.html' %}
{% block title %}GOH! Homepage{% endblock %}

{% block body %}

<div class="row align-items-end">
  <div class="tagline">
      <p>There is no such thing as bad weather; only bad clothing.</p>
  </div>


  <div class="col">
      <section class="login" id="login">
          <h2 id="signup">Account Sign In</h2>
          <form action="/login" autocomplete="on" method="POST">
            <input name="email" type="text" class="form-control" id="holder" placeholder="email">
            <input name="password" type="password" class="form-control" id="password" placeholder="password">
            <button type="submit" name="your_name" value="your_value" class="btn">Let's GOH!</button>
          </form>
      </section>
  </div>
</div>

{% endblock %}
