{% extends 'base.html' %}
{% block title %}GOH! Homepage{% endblock %}

{% block body %}
  <h1>Welcome!</h1>

  <h2>Navigation</h2>
  <ul>
    <li><a href="/favorites">View all favorite parks</a></li>
    <li><a href="/users">View all user profiles</a></li>
    <li><a href="/newuser">Create your profile!</a></li>
  </ul>

  <h2>Login for existing users</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>



  <h2>Search without logging in</h2>
  <form action="/parks/search" method="GET">
    <p>
       Zip code <input type="text" name="zipcode">
    </p>
      <input type="submit">
  </form>


  <br>
<!--"https://maps.googleapis.com/maps/api/place/search/json?key={{API_KEY}}&input=pizza+near%20par&location=44.954445,-93.091301&radius=20000">
-->  
    <a href="https://maps.googleapis.com/maps/api/place/textsearch/json?query=dog+park&location=44.954445,-93.091301&radius=2000&key={{API_KEY}}">
    TEST MAP
  </a>


  <!-- <p>
    <a class="btn btn-primary" href="/afterparty">
      Click here to search for an event
    </a>
  </p> -->
{% endblock %}
