{% extends 'base.html' %}
{% block title %}GOH! Homepage{% endblock %}

{% block body %}
  <h1>Welcome!</h1>

  <h2>Navigation</h2>
  <ul>
    <li><a href="/all_favorites">View all favorite parks</a></li>
    <li><a href="/users">View all user profiles</a></li>
    <li><a href="/newuser">Create your profile!</a></li>
  </ul>

  <h2>Login for existing users</h2>
  <fieldset>
    <legend>Your Account</legend>
      <form action="/login" autocomplete="on" method="POST">
        <p>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" autofocus>
          <br><br>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password">
        </p>

        <p>
          <input type="submit" value="Login">
        </p>
      </form>
  </fieldset>


  <h2>Search without logging in</h2>
  <form action="/parks/search" autocomplete="on" method="GET">
    <p>
      <label for="park-search">Address (or zip or city, state)</label>
      <input type="search" id="park-search" name="zipcode">
      <input type="submit" value="Search for Parks">
  </form>

{% endblock %}
