<!DOCTYPE html>
<html>
  <head>
    <title>Parks Search by Zip</title>
    <link rel="stylesheet" href="/static/css/map3.css"/>

    <script type="text/javascript" src="/static/js/map3.js"></script>
    <script type="text/javascript">
      const coords = {{coords|tojson}}
  </script>

  </head>
  <body>
    <div id="container">
      <div id="map"></div>
      <div id="sidebar">
        <h2>Parks Near You! (loc: {{zipcode}})</h2>
        <ul id="places"></ul>
        <button id="more">See more parks</button>
      </div>
    </div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap&libraries=places&v=weekly"
      async
    ></script>
    
        <div id="header">
    <h1>
    Want personalized results?
    </h1>
    <button2 onclick="location.href='/newuser';" id="create">Create an account</button2>
    <button2 onclick="location.href='/';" id="home">Log in to your account</button2>

    </div>
  </body>
</html>