{% extends 'base.html' %}

{% block title %}{{ user.user_first_name }}'s Page{% endblock %}

{% block body %}

<form>
    <label>Email</label>
    <input type="text" name="email">
  </form>

  <form>
    Choose your STATE
  
    <select name="lang">
      <option value="python">Python</option>
      <option value="javascript">JavaScript</option>
      <option value="ruby">Ruby</option>
    </select>
  </form>


<form>
    What music genres do you like?
  
    <input type="checkbox" name="genres" value="pop">
    <label>Pop</label>
  
    <input type="checkbox" name="genres" value="hiphop">
    <label>Hip Hop</label>
  
    <input type="checkbox" name="genres" value="Other">
    <label>Other</label>
  </form>


<h1>{{ user.user_email }}</h1>

<form>
    <input type="submit">
  </form>
   
  <form>
    <button type="submit">Log In</button>
  </form>





  user_zipcode = db.Column(db.Integer, nullable=False)
  user_street_address = db.Column(db.String)
  user_city = db.Column(db.String)
  user_state = db.Column(db.String) # how to limit to two character abbreviation?
  user_activity1 = db.Column(db.String)
  user_activity2 = db.Column(db.String)
  user_activity3 = db.Column(db.String)
  max_search_distance = db.Column(db.Integer)
  pet_friendly = db.Column(db.Boolean, default=False) 
  family_friendly = db.Column(db.Boolean, default=False)
  accessibility_needs = db.Column(db.Boolean, default=False)
  amenities1 = db.Column(db.String)
  amenities2 = db.Column(db.String)
  children_infant = db.Column(db.Boolean, default=False)
  children_toddler = db.Column(db.Boolean, default=False)
  children_schoolage = db.Column(db.Boolean, default=False)
  children_teen = db.Column(db.Boolean, default=False)


{% endblock %}
