<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GOH!</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Google Font -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900' rel='stylesheet' type='text/css'>
  <!-- Stylesheet -->
  <link rel="stylesheet" href="goh-test.css">

</head>

<body class="about">
  <!-- Static navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#navbar"
                aria-expanded="false"
                aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">GOH!</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Log In</a></li>
        </ul>
      </div>
    </div>
  </nav>


    <div class="row align-items-center my-5">
        <div class="col-lg-3">
            <h1 class="font-weight-light">Let's GOH!</h1>
            <p>Getting out of the house (GOH!) has never been so important. Anything counts. Parks, playgrounds, beaches, 
                even a stroll around the block. 
                <br><br>
                Moving your body is the best thing you can do for yourself today, and
                the kindest thing you can do for your future self tomorrow. So, be adventurous! Try someplace new. Or, visit and revisit a favorite.
                <br><br>
                <b>The only rule is....GOH!</b></p>
            <a class="btn" href="/newuser">Are you ready?</a>
        </div>
    </div>

  </body>

  <footer class="text-muted py-5">
      <p class="mb-1">GOH! &copy; 2021</p>
  </footer>

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>