{% extends 'base.html' %}

{% block title %}GOH! {{ user.user_first_name }} GOH!{% endblock %}

{% block body %}

<head>
    <title>User Parks</title>
    <!-- <link rel="stylesheet" href="/static/map.css"/> -->
    <script src="/static/js/user_park_map.js"></script>
    <script
    async defer
    src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap">
    </script>
    NEED JQUERY SCRIPT HERE

<!-- <script>
    
    let google_map_url = 'https://maps.googleapis.com/maps/api/place/textsearch/json?query={{user.user_activity1}}+{{user.user_activity2}}+{{user.user_activity3}}&location=44.954445,-93.091301&radius={{user.max_search_distance}}&key={{API_KEY}}'
    async function showLocalMap() {
      let response = await fetch(google_map_url);
      let data = response.json();
      console.log(data);
    }

    showLocalMap();
  </script> -->

  </head>

<section class="profile">
  <h2>Navigation</h2>
  <ul>
    <li><a href="/favorites">View all favorite parks</a></li>
    <li><a href="/">GOH! homepage</a></li>
  </ul>

  <h1>{{ user.user_first_name }}'s Parks</h1>

  <ul>
      <h2>{{ user.user_first_name }} {{ user.user_last_name }}</h2>

      <h3>Parks Information</h3>
      <table>
        <tr>
            <td>Address:</td>
            <td>      <br>{{ user.user_street_address }}</br>
            {{ user.user_city }}, {{ user.user_state }} {{ user.user_zipcode }}</td>
        </tr>
        <tr>
            <td>Max Search:</td>
            <td>{{ user.max_search_distance }} miles</td>
        </tr>
        <tr>
            <td>Favorite Activities:</td>
            <td>{{ user.user_activity1 }}, {{ user.user_activity2 }}, {{ user.user_activity3 }}</td>
        </tr>
        <tr>
            <td>Preferred Amenities:    </td>
            <td>{{ user.amenities1 }}, {{ user.amenities2 }}</td>
        </tr>
        <tr>
            <td>Accessibility Needs?</td>
            <td>{{ user.accessibility_needs }}</td>
        </tr>
        <tr>
            <td>Pet Friendly?    </td>
            <td>{{ user.pet_friendly }}</td>
        </tr>
        <tr>
            <td>Family Friendly?</td>
            <td>{{ user.family_friendly }}</td>
        </tr>
      </table>
      <br></br>
  </ul>
</section>
<section class="map">
    <div id="map"> HELLO! </div>
    <li>
        <a href="https://maps.googleapis.com/maps/api/geocode/json?address={{ user.user_zipcode }}&key={{API_KEY}}">
        {{ user.user_first_name }}'s Map
        </a>
    </li>

    <a href="https://maps.googleapis.com/maps/api/place/textsearch/json?query={{ user.user_activity1 }}+{{ user.user_activity2 }}+{{ user.user_activity3 }}&location=44.954445,-93.091301&radius={{ user.max_search_distance }}&key={{API_KEY}}">
        TEST MAP
      </a>

</section>
{% endblock %}
