{% extends 'base.html' %}
{% block title %}Your Map{% endblock %}




{% block body %}

<h2>Navigation</h2>
<ul>
  <li><a href="/login/user_favorites">View your favorite parks</a></li>
  <li><a href="/">GOH! homepage</a></li>
  <li><a href="/logout">Log out of your account</a></li>
</ul>

<div id="map" style="width: 600px; height: 400px;"></div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="/static/js/user_map.js"></script>
<script
async defer
src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap">
</script>



{% endblock %}