{% extends 'base.html' %}
{% block title %}Your Favorite Parks{% endblock %}

{% block body %}
<body class="user-favs">

  
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" align=center>
    <div class="carousel-inner">
      {% for i in range(0,1) %}
      <div class="carousel-item active">
        <iframe
        width="650"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key={{API_KEY}}&q=place_id:{{favorites[i].favorite_park.park_API_id}}&zoom=13" allowfullscreen>
        </iframe>
      </div>
      {% endfor %}
      {% for i in range(1,n-1) %}
      <div class="carousel-item">
        <iframe
        width="650"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key={{API_KEY}}&q=place_id:{{favorites[i].favorite_park.park_API_id}}&zoom=13" allowfullscreen>
        </iframe>
      </div>
      {% endfor %}
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sl-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sl-only">Next</span>
    </a>
  </div>
  <b><h1 id="user-fav-header">{{ user.user_first_name }}'s Favorite Places</h1></b>
</body>



{% endblock %}
